.backgroundWord{
    text-align: center;
    color: #fff;
    font-size: 40px;
    background-image: -webkit-gradient(linear,0 0,0 bottom,from(#fff),to(#bcbcbc));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
.UserDialog-Wrapper {
    /*全屏*/
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    /*内容居中*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #403f3f;
}

.UserDialog {
    border-radius: 20px;
    padding: 1.5em 4em;
    min-width: 20em;
    background: #252725;
    color:#b3af5e;
    border: none; 
    box-shadow:  0 0 1em hsla(0,0%,0%,0.35);
}

.UserDialog .signInOrSignUp>nav:first-child {
    padding: 1em;
    margin-left: -2em;
}

.UserDialog .signInOrSignUp>nav:first-child label {
    margin-left: 2em;
    cursor: pointer;
}
.UserDialog .signInOrSignUp>nav>label.active{
    font-size: 24px;
    font-weight: 700;
    color: #ded74d;
}
.UserDialog .signInOrSignUp>nav>label:hover{
    font-size: 24px;
    font-weight: 700;
    color: #ded74d;
}
.UserDialog .signInOrSignUp>.panes {
    padding: 0 1em 1em;
}

.UserDialog .forgotPassword>h3 {
    padding: 1em;
}

.UserDialog .forgotPassword>form {
    padding: 0 1em 1em;
}

.UserDialog form>.row {
    display: flex;
    padding: .8em 0;
}

.UserDialog form>.row>label:first-child {
    width: 5em;
    text-align: right;
    margin-right: 1em;
    padding: 3px;
}

.UserDialog form>.row>label:nth-child(2) {
    border: none;
    outline: none;
    padding: 3px 5px;
    border-radius: 3px;
}

.hidestyle {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.UserDialog form>.row.actions {
    padding-left: 4em;
    display: flex;
    align-items: center;
}

.UserDialog form>.row.actions button {
    margin-right: .5em;
    background: #5b943b linear-gradient(to top, #4e8033 60%, #4c693d );
    color: #24350a;
    border-radius: 5px;
    border: none;
    padding: 5px 9px;
    outline: none;
    font-weight: 700;
    margin-left: 2em;
}

.UserDialog button {
    font: inherit;
}